
* {
    background-color: #FFE4D6;;
}
section {
    /* He intentat de totes totes que els inputs i el botó 
    em quedin centrats, igual que la resta, i no hi ha manera */
    display: flex;
    justify-content: center;
    align-items: center;;
    text-align: center;
}
p, label{
    font-family: Montserrat;
    color: #B5838D; 
    text-align: justify;
    justify-content: center;
    margin: 20px;
}
h2, h4 {
    font-family: Montserrat;
    font-weight: 600;
    text-align: center;
    color:#6D6875;
}
span {
    font-family: Montserrat;
    font-weight: bold;
    color: #6D6875;
}
a {
    font-family: Montserrat;
    text-align: center;
    color:#6D6875;
}
input, option, select {
    border-radius: 20px;
    background-color: white;
    border: 1px solid #B5838D;
}
#myBut {
    background-color: #B5838D;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*Media Queries*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}